<h2 mat-dialog-title>
  @if (dialogData.type === 'create') {
    Create New Session
  } @else if (dialogData.type === 'edit') {
    Update Session
  } @else if (dialogData.type === 'delete') {
    Confirm Delete Session
  }
</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Enter date</mat-label>
    <input matInput [matDatepicker]="datepicker" [(ngModel)]="date">
    <mat-datepicker #datepicker/>
    <mat-datepicker-toggle [for]="datepicker" matSuffix/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Tutor</mat-label>
    <mat-select [(ngModel)]="selectedTutor">
      @for (tutor of tutors; track tutor) {
        <mat-option [value]="tutor.name">{{tutor.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Enter start time</mat-label>
    <input matInput
           [matTimepicker]="starttimepicker"
           [(ngModel)]="startTime"
           [ngModelOptions]="{updateOn: 'blur'}">
    <mat-timepicker interval="15min" #starttimepicker/>
    <mat-timepicker-toggle [for]="starttimepicker" matSuffix/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Student</mat-label>
    <mat-select [(ngModel)]="selectedStudent">
      @for (student of students; track student) {
        <mat-option [value]="student.name">{{student.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Enter end time</mat-label>
    <input matInput
           [matTimepicker]="endtimepicker"
           [(ngModel)]="endTime"
           [ngModelOptions]="{updateOn: 'blur'}">
    <mat-timepicker interval="15min" #endtimepicker/>
    <mat-timepicker-toggle [for]="endtimepicker" matSuffix/>
  </mat-form-field>
  @if (dialogData.type !== 'create') {
    <mat-form-field>
      <mat-label>Take Attendance</mat-label>
      <mat-select [(ngModel)]="selectedAttendance">
        @for (option of attendanceOptions; track option) {
          <mat-option [value]="option.value">{{option.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <br/>
  @if (hasError) {
    <mat-error>{{errorMessage}}</mat-error>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="cancel()">Cancel</button>
  @if (dialogData.type === 'create') {
    <button matButton (click)="createSession()">Create</button>
  } @else if (dialogData.type === 'edit') {
    <button matButton (click)="updateSession()">Update</button>
  } @else if (dialogData.type === 'delete') {
    <button matButton (click)="deleteSession()">Confirm</button>
  }
</mat-dialog-actions>
