.login-card {
  max-width: 400px;
  padding: 10px;
  margin-top: 20px;
}

.spinner-container {
  margin-top: 20px;
}

.login-main {
  display: flex;
  justify-content: center;
}

mat-card-header {
  padding-bottom: 16px;
  justify-content: center;
}

.login-button-container {
  display: flex;
  justify-content: right;
}

.login-error-message {
  color: red;
}
