.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, minmax(150px, auto));
  gap: 10px;
  padding-top: 10px;
}

.contact-notes {
  grid-column: 2;
  grid-row: span 4;
  padding-top: 10px;
}

.contact-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.student-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.student-card {
  max-width: 400px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.note-card {
  max-width: 400px;
}

.contact-section {
  padding: 10px;
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
}

.billing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.billing-textbox {
  grid-row: span 2;
}

.scholarship-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.onboarding-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
