<form class="contact-form">
  <div class="contact-section">
    <h2>Contact</h2>
    <div class="contact-main" [formGroup]="contactForm">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" [type]="'email'">
        @if (contactForm.hasError('emailAddress')) {
          <mat-error>Valid Email Required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone_number" [type]="'tel'">
        @if (contactForm.hasError('phoneNumber')) {
          <mat-error>Valid Phone Number Required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Service</mat-label>
        <mat-select formControlName="service">
          @for (serviceOption of serviceOptions; track serviceOption) {
            <mat-option [value]="serviceOption">{{serviceOption}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="contact-notes contact-section" [formGroup]="notesForm">
    <h2>Notes</h2>
    <button matIconButton type="button" (click)="addNote()">
      <mat-icon>add</mat-icon>
    </button>
    <div formArrayName="notes">
      @for (noteControl of notes.controls; track noteControl; let i = $index) {
        <mat-card class="note-card" appearance="outlined" [formGroupName]="i">
          <mat-card-header>
            <mat-card-title>{{noteControl.get('author')?.value}}</mat-card-title>
            <mat-card-subtitle>{{noteControl.get('date_time')?.value}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p [hidden]="notesEditIndex === i">
              {{noteControl.get('message')?.value}}
            </p>
            <div [hidden]="notesEditIndex !== i">
              <mat-form-field class="notes-form-field">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button matIconButton type="button" (click)="setNotesEditIndex(i)" [hidden]="notesEditIndex === i">
              <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton type="button" (click)="saveNoteAt(i)" [hidden]="notesEditIndex !== i">
              <mat-icon>save</mat-icon>
            </button>
            <button matIconButton type="button" (click)="deleteNoteAt(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </div>
  <div class="contact-tutoring contact-section" [formGroup]="studentsForm">
    <h2>Students</h2>
    <button matIconButton type="button" (click)="addStudent()">
      <mat-icon>add</mat-icon>
    </button>
    <div formArrayName="students">
      @for (studentControl of students.controls; track studentControl; let i = $index) {
        <mat-card class="student-card" appearance="outlined" [formGroupName]="i">
          <mat-card-header>
            <div [hidden]="studentsEditIndex === i">
              <mat-card-title>{{studentControl.get('name')?.value}}</mat-card-title>
            </div>
            <div [hidden]="studentsEditIndex !== i">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div [hidden]="studentsEditIndex === i">
              <div class="student-grid">
                <div>Birthday: {{studentControl.get('birthday')?.value}}</div>
                <div>Status: {{studentControl.get('status')?.value}}</div>
                <div>Available Minutes: {{studentControl.get('available_minutes')?.value}}</div>
                <div>Assigned Tutor: {{studentControl.get('assigned_tutor_id')?.value}}</div>
                <div>Make Up Minutes: {{studentControl.get('make_up_minutes')?.value}}</div>
                <div>Package: {{studentControl.get('package')?.value}}</div>
                <div>Scholarship:
                  @if (studentControl.get('scholarship')?.value) {
                    <mat-icon style="color: green;">check</mat-icon>
                  } @else {
                    <mat-icon style="color: red;">close</mat-icon>
                  }
                </div>
              </div>
            </div>
            <div [hidden]="studentsEditIndex !== i">
              <div class="student-grid">
                <mat-form-field>
                  <mat-label>Birthday</mat-label>
                  <input matInput formControlName="birthday">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Select Status</mat-label>
                  <mat-select formControlName="status">
                    @for (statusOption of statusOptions; track statusOption) {
                      <mat-option [value]="statusOption">{{statusOption}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Available Minutes</mat-label>
                  <input matInput formControlName="available_minutes">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Assign Tutor</mat-label>
                  <mat-select formControlName="assigned_tutor_id">
                    @for (tutorOption of tutorOptions; track tutorOption) {
                      <mat-option [value]="tutorOption">{{tutorOption}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Make Up Minutes</mat-label>
                  <input matInput formControlName="make_up_minutes">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Select Package</mat-label>
                  <mat-select formControlName="package">
                    @for (packageOption of packageOptions; track packageOption) {
                      <mat-option [value]="packageOption">{{packageOption}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="scholarship">Scholarship</mat-checkbox>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button matIconButton type="button" (click)="setStudentsEditIndex(i)" [hidden]="studentsEditIndex === i">
              <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton type="button" (click)="saveStudentAt(i)" [hidden]="studentsEditIndex !== i">
              <mat-icon>save</mat-icon>
            </button>
            <button matIconButton type="button" (click)="deleteStudentAt(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </div>
  <div class="contact-billing contact-section" [formGroup]="contactForm">
    @if (students.length > 0 && students.at(0).get('scholarship')?.value) {
      <h2>Scholarship</h2>
      <div class="scholarship-grid">
        <mat-form-field>
          <mat-label>Scholarship State</mat-label>
          <input matInput formControlName="scholarship_state">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Invoice Month</mat-label>
          <input matInput formControlName="invoice_Month">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Funds Requested By BTC</mat-label>
          <input matInput formControlName="date_funds_requested_by_btc">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Funds Requested By Family</mat-label>
          <input matInput formControlName="date_funds_requested_by_family">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount To Be Paid This Month</mat-label>
          <input matInput formControlName="amount_to_be_paid_this_month">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Invoice Number</mat-label>
          <input matInput formControlName="invoice_number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Invoice Paid Date</mat-label>
          <input matInput formControlName="invoice_paid_date">
        </mat-form-field>
        <mat-form-field class="billing-textbox">
          <mat-label>Special Circumstance</mat-label>
          <textarea matInput formControlName="special_circumstance"></textarea>
        </mat-form-field>
      </div>
    } @else {
      <h2>Billing</h2>
      <div class="billing-grid">
        <mat-form-field>
          <mat-label>Monthly Charge</mat-label>
          <input matInput formControlName="monthly_charge">
        </mat-form-field>
        <mat-checkbox formControlName="cc_authorization_received">CC Authorization Received</mat-checkbox>
        <mat-checkbox formControlName="twenty_five_deducted">$25 Deducted</mat-checkbox>
        <mat-form-field>
          <mat-label>Charge Per Billing Cycle</mat-label>
          <input matInput formControlName="charge_per_billing_cycle">
        </mat-form-field>
        <mat-checkbox formControlName="payment_one_received">Payment 1 Received</mat-checkbox>
        <mat-checkbox formControlName="payment_two_received">Payment 2 Received</mat-checkbox>
        <mat-form-field>
          <mat-label>Amount To Be Paid This Month</mat-label>
          <input matInput formControlName="amount_to_be_paid_this_month">
        </mat-form-field>
        <mat-checkbox formControlName="payment_three_received">Payment 3 Received</mat-checkbox>
        <mat-checkbox formControlName="payment_four_received">Payment 4 Received</mat-checkbox>
        <mat-form-field>
          <mat-label>Billing Cycle</mat-label>
          <mat-select formControlName="billing_cycle">
            @for (billingCycleOption of billingCycleOptions; track billingCycleOption) {
              <mat-option [value]="billingCycleOption">{{billingCycleOption}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="billing-textbox">
          <mat-label>Special Circumstance</mat-label>
          <textarea matInput formControlName="special_circumstance"></textarea>
        </mat-form-field>
      </div>
    }
  </div>
  <div class="contact-onboarding contact-section">
    <h2>Onboarding</h2>
  </div>
</form>
