
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'angular-calendar/scss/angular-calendar';
@import "./app/themes/greentheme.css";

//html {
//  @include mat.theme((
//    color: (
//      primary: mat.$azure-palette,
//      tertiary: mat.$blue-palette,
//    ),
//    typography: Roboto,
//    density: 0,
//  ));
//}

.dark-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #d5d6d7;
  $border-color: rgb(0 0 0 / 60%);

  // Call the calendar mixin with a sass color map of your theme. Every property is optional.
  // For a list of all variables and how they are used,
  // see https://github.com/mattlewis92/angular-calendar/tree/main/projects/angular-calendar/src/variables.scss
  @include angular-calendar.cal-theme(
      (
        bg-primary: $bg-dark-primary,
        bg-secondary: $bg-dark-secondary,
        weekend-color: indianred,
        bg-active: $bg-active,
        border-color: $border-color,
        gray: $bg-dark-secondary,
        today-bg: $bg-dark-secondary,
        event-color-primary: $bg-dark-secondary,
      )
  );

  // How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.3;
  }
}




body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Playfair Display', 'Source Serif 4', serif; }
